name: Node.js WebRTC CD with Docker

on:
    push:
        branches: ["main"] # 메인 브랜치 푸시 시 작동

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy to EC2
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USERNAME }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  script: |
                      cd /home/ubuntu/coope-webrtc-sfu

                      # 최신 코드 반영
                      git pull origin main

                      # Docker 컨테이너 빌드 및 실행
                      docker compose up --build -d

                      docker image prune -f
